<?php
/**
 * Server Hostname
 */
Configure::write('CodingStandards.SERVER_NAME', 'sub.domain.com');
/**
 * Path to CodingStandards plugin folder
 */
Configure::write('CodingStandards.PLUGIN_PATH', APP . 'Plugin' . DS . 'CodingStandards');
/**
 * Path to JavaScript folder
 */
Configure::write('CodingStandards.JS_PATH', ROOT . DS . 'html' . DS . 'js');
/**
 * Path to CSS folder
 */
Configure::write('CodingStandards.CSS_PATH', ROOT . DS . 'html' . DS . 'css');